/* On smaller screens, where height is less than 450%, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-width:900px){

    body{
        height: 100%;
    }

  .login-button {
      font-size: 1.5rem;
      cursor: pointer;
      background-color: black;
      color: white;
      border: none;
      border-radius: 8%;
      padding: 0 10%;
    }
    #header {
        font-size: 3rem;
        top: 1rem;
    }
    .openbtn{
            font-size: 1.5rem;
            cursor: pointer;
            background-color: black;
            color: white;
            border: none;
            border-radius: 8%;
            padding: 0 1%;
    }
    #main{
        padding-right: 5px;
        position: absolute;
    }
    .studentdata1-count{
        background-color: #000000;
        width: 20%;
        height: 20%;
        color: #ffffff;
        margin-left: 10%;
        border-width: 3px;
        border-style: solid; 
        border-image: linear-gradient(45deg, #0400ff, #ff0303);
        /* display: inline-block; */
        border-image-slice:1;
      }



}