/* On smaller screens, where height is less than 450%, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-width:900px){

    body{
        height: 100%;
    }

  .login-button {
      font-size: 2rem;
      cursor: pointer;
      background-color: black;
      color: white;
      border: none;
      border-radius: 8%;
    }
    #header {
        font-size: 3rem;
        top: 1rem;
    }
    .openbtn{
        font-size: 2rem;
        cursor: pointer;
        background-color: black;
        color: white;
        border: none;
        border-radius: 8%;
    }
    #main{
        padding-right: 5px;
        position: absolute;
    }



}